[2016-11-15 22:11] aimalz opened #1 "Implement quantile approximation"
@drphilmarshall I have code that does some of this but it needs to be integrated into the qp class. This is an Epic, being addressed in PR #2 .

* [x] `PDF.quantize()` #14
* [x] `PDF.interpolate()` #15
* [x] KL divergence between PDF and qp approximation #9
* [x] 'PDF.histogram()' #23
* [x] Better quantile spacing #35

[2016-11-15 22:25] drphilmarshall opened #3 "Start unit tests"
Now we have some class methods, we should write some unit tests for them.

[2016-11-15 22:26] drphilmarshall opened #4 "Set up continuous integration at travis-ci"
@aimalz Let's set up travis and have it run the demo notebook as a test. I have code to do this, but you'll need to turn on travis to get started.

[2016-11-15 22:34] #4 closed, assigned to aimalz

[2016-11-15 22:35] aimalz opened #6 "Write a travis.yml file to run notebook"
Please and thank you!

[2016-11-15 22:37] drphilmarshall commented on #6
I can do this no problem. I'll adapt the travis file from [empiriciSN](https://github.com/tholoien/empiriciSN/blob/master/.travis.yml).

[2016-11-15 22:56] drphilmarshall opened #8 "Build HTML from demo notebook(s) and deploy"
This will be a key part of our docs, and also teach me how to make PDFs out of notebooks (which I'd like to be able to do for the LSST DESC Notes...) I'll need to remember how the GITHUB_API_KEYS work, but I have some notes in my [`start_paper`](https://github.com/DarkEnergyScienceCollaboration/start_paper/blob/master/%7B%7Bcookiecutter.folder_name%7D%7D/README.md#automatic-pdf-sharing) project.

[2016-11-15 22:58] drphilmarshall opened #9 "Quantify quantile parametrization approximation with KL divergence"
@aimalz we said we wanted to be able to write
[code]
so let's write a def that does that.

[2016-11-15 22:59] drphilmarshall commented on #3
Although, this only really makes sense once we have moved the `PDF` class into its own file - so let's leave this until we've done that.

[2016-11-15 23:04] drphilmarshall opened #10 "Make a `qp` package"
... containing modules:

* `pdf.py`  (with just the `PDF` class in it)
* `utils.py` (with various functions in it)

and also a `__init__.py`. Let's put all this in a folder called `qp` so that we can
[code]

At this point we'll need a `setup.py` file, like [this one](https://github.com/drphilmarshall/Pangloss/blob/wl/setup.py). Good luck!

[2016-11-15 23:10] drphilmarshall opened #11 "Better README"
I have a nice template we can use.

[2016-11-15 23:25] drphilmarshall commented on #3
PS. @aimalz you can crib from [SLTimer, here](https://github.com/DarkEnergyScienceCollaboration/SLTimer/tree/master/tests).

[2016-11-15 23:26] #11 closed, assigned to drphilmarshall

[2016-11-15 23:27] drphilmarshall commented on #6
Closed by #7

[2016-11-15 23:27] #6 closed, assigned to drphilmarshall

[2016-11-15 23:28] drphilmarshall opened #13 "Try qp on binder"
As in, http://mybinder.org/status/aimalz/qp ... Let's keep trying that link, hopefully it'll build at some point!

[2016-11-15 23:38] drphilmarshall opened #14 "PDF.quantize()"
With unit tests! :-)

[2016-11-15 23:38] drphilmarshall opened #15 "PDF.interpolate()"
With unit tests! :-)

[2016-11-21 22:21] #14 closed, assigned to aimalz

[2016-11-23 00:05] drphilmarshall commented on #10
This was closed by #18 - hooray! :-)

[2016-11-23 00:05] #10 closed, assigned to aimalz

[2016-11-23 00:06] drphilmarshall commented on #1
Since #16 you can check off the top item on your Epic list, @aimalz . Next item of business is #15, I guess? Looking fwd to seeing the plot in the demo! :-)

[2016-11-29 17:29] aimalz commented on #15
This seems to be a duplicate of #21 so I'm closing it.

[2016-11-29 17:29] #15 closed, assigned to aimalz

[2016-12-02 17:25] aimalz opened #23 "Implement histogram representation"
For the sake of comparing the quantile representation to more conventional representations, I should implement a PDF.histogram function.  Similarly, I want be able to initialize a PDF object with any one of truth, quantiles, or histogram and then convert truth into both alternatives, quantize a histogram, and histogram quantiles.  I'm not sure if this should be part of the Epic and/or ready before

[2016-12-02 17:46] drphilmarshall commented on #23
I think it's important enough to include in v1.0. Note that if you
implement a `sample()` method that fills up a pandas data frame of
`PDF.samples`, you'll then be able to make histograms of those samples in
place. And of course you should be able to initialize a PDF object with
samples too... I think you're going to want some indicator kwargs, so that
you can write
[code]
and so on. It's OK to ha

[2016-12-02 17:52] aimalz opened #24 "Implement samples representation"
In response to #23, a collection of samples should be another way to initialize a PDF object, and there should be a function to generate samples from any of the other representations.

[2016-12-02 17:55] aimalz commented on #23
Good idea!  I made #24 a separate issue for samples.  I've already written code that samples from a histogram representation, so that won't be hard to implement.

[2016-12-02 17:57] drphilmarshall commented on #23
Bravo! It's so nice to close issues :-)

[2016-12-03 18:00] drphilmarshall commented on #13
This should be closed by PR #25 !

[2016-12-03 18:02] drphilmarshall commented on #9
Alright! This is done as of PR #22 . Nice work, @aimalz

[2016-12-03 18:02] #9 closed, assigned to aimalz

[2016-12-03 18:11] drphilmarshall opened #26 "Documentation"
Hey @aimalz - the `qp` algorithm and implementation dev is going great. Let's keep up the documentation as we go. Here are two things I think we should build:

* [x] API docs with Sphinx - this is easier than it sounds, we can crib from [SLTimer](https://github.com/LSSTDESC/SLTimer/tree/master/docs) #27

* [x] A short notebook of tex math and `qp` code illustrating the KLD between 2 Gaussians and

[2016-12-03 18:14] drphilmarshall opened #27 "API docs"
@aimalz I'll do this - it'll involve moving all our docs to a 'docs' folder and then getting readthedocs working. Feel free to ask questions about each line in your code review! :-)

[2016-12-03 20:47] drphilmarshall opened #29 "Interpreting the KLD"
I'm interested in the interpretation of the KL divergence, so will make a little notebook. Watch this space!

[2016-12-05 18:10] #13 closed, assigned to drphilmarshall

[2016-12-06 15:40] aimalz commented on #29
I think kld.ipynb from #30 thoroughly addresses this issue, so I'm going to close it.

[2016-12-06 15:40] #29 closed, assigned to drphilmarshall

[2016-12-06 17:56] drphilmarshall commented on #29
Thanks! To my mind it is just missing an analytic derivation of the "model"
curves that I overlaid in gray. I made a start on this but seem to have
made some algebraic errors :-/ Do you fancy spending a ahppy half hour
doing some Gaussian integrals?

[2016-12-06 20:03] aimalz commented on #29
Okay, after spending far too long fiddling with it, I can't get the relationship in the notebook, specifically that factor of pi.  I ultimately ended up with something consistent with [this](http://stats.stackexchange.com/questions/7440/kl-divergence-between-two-univariate-gaussians).  Where did the version in the notebook come from?

[2016-12-07 12:39] drphilmarshall commented on #27
@aimalz Since #28 we have a reasonable first set of docs, except that the `pdf` automodule command is yielding no output.

Browsing the [rtd documentation](http://docs.readthedocs.io/en/latest/builds.html#understanding-what-s-going-on) it seems that the problem might be the `import qp` line in `pdf.py`: by default, readthedocs does not install packages. Can you please enable the _Install Project_

[2016-12-07 16:03] drphilmarshall opened #33 "Analytic derivation of 2-Gaussian KLD"
Let's add this to `kld.ipynb`.

@aimalz You pointed me to [this webpage](http://stats.stackexchange.com/questions/7440/kl-divergence-between-two-univariate-gaussians) - looking at this, it turns out my algebra was not very far off at all! With a bit more re-arranging I think we can make a link to the precision ratio $\sigma/\sigma_0$ and tension parameter. If I get a chance I'll have a go this aft

[2016-12-07 17:10] aimalz opened #34 "Add to the KLD notebook derivations of Gaussian behavior"
This is a continuation of @drphilmarshall's suggestion in #30.

[2016-12-07 17:26] aimalz commented on #27
Indeed, that fixed the problem!

[2016-12-07 17:42] drphilmarshall commented on #27
Excellent!

[2016-12-07 17:42] #27 closed, assigned to drphilmarshall

[2016-12-07 18:53] drphilmarshall commented on #33
This is a duplicate of #34 - closing and re-posting there!

[2016-12-07 18:53] #33 closed, assigned to drphilmarshall

[2016-12-07 19:25] drphilmarshall commented on #34
Let's add this to `kld.ipynb`.

@aimalz You pointed me to [this webpage](http://stats.stackexchange.com/questions/7440/kl-divergence-between-two-univariate-gaussians) - looking at this, it turns out my algebra was not very far off at all! With a bit more re-arranging I think you should be able to make a link to the precision ratio $\sigma/\sigma_0$ and tension parameter.

To whit: note that

$ \si

[2016-12-07 19:49] drphilmarshall commented on #34
I'd then suggest that we use this analytic model in the plots, using a quick `def` in the notebook, and labeling it "Analytic" or "Model" or somesuch. You should point out that we are effectively doing a functional test of the KLD code in this way.

[2016-12-07 21:41] drphilmarshall commented on #23
OK! Histogram code is merged, and results can be seen [here](http://htmlpreview.github.io/?https://github.com/aimalz/qp/blob/html/demo.html). Looks like evenly spaced histogram bins beats evenly spaced quantiles in the simplest possible test case: time to move to better spaced quantiles and more interesting test cases, I think!

[2016-12-07 21:41] #23 closed, assigned to aimalz

[2016-12-07 21:42] drphilmarshall commented on #8
We are halfway through this issue, as we now have [deployed demo notebook html](http://htmlpreview.github.io/?https://github.com/aimalz/qp/blob/html/demo.html). I think the PDF of the LSST DESC Note notebook will close this out.

[2016-12-07 21:47] drphilmarshall opened #35 "Better quantile spacing"
I guess we want to choose the quantiles such that we sample the peaks and wings well: uniform in CDF does not seem to be optimal (or even superior to a histogram). In fact; don't we want to preferentially place interpolation nodes where the second derivative of the function is high? How about the first derivative? There must be a whole literature on this.

[2016-12-07 21:52] drphilmarshall opened #36 "Comprehensive test suite"
@aimalz I think for a good LSST DESC Note we'll need to do a fairly comprehensive suite of tests. We want to find efficient PDF characterizations that can cope robustly with randomly drawn multi-modal distributions, right? Maybe you can come up with a scheme that generates plausible photo-z-like PDFs, so that we can do more interesting comparisons between characterizations. I think the KLD will be

[2016-12-07 22:00] drphilmarshall commented on #29
It's approximate / guessed. Lets go with your / my proper derivation
instead, and comment on its form, especially in various important limits
(ie the ones already illustrated in the notebook).

On Tue, Dec 6, 2016 at 12:03 PM, Alex Malz <notifications@github.com> wrote:

[2016-12-07 22:48] aimalz commented on #23
I think quantiles are really going to shine when there's small-scale structure.  I want to extend the code to take more non-trivial truth functions, but that's a pretty major change requiring additional infrastructure, so I don't think I can do it by the version 1.0 launch date.

[2016-12-08 00:53] drphilmarshall commented on #23
Ok fair enough! That means the DESC note issue should be reassigned to a
later milestone then - maybe one of its own? In the meantime, should we try
for any kind of better quartile distribution? I feel like uniform spacing
is a bit disappointing in the wings...

Re: non-trivial truth functions: shall we start with mixtures of Gaussians?

On Wednesday, December 7, 2016, Alex Malz <notifications@git

[2016-12-08 21:19] aimalz commented on #23
Excellent point!  I've addressed non-uniform quantile spacing in #38.

Re: non-trivial truth functions, starting with mixtures of supported scipy.stats.rv_continuous objects seems extremely reasonable.

[2016-12-09 19:27] aimalz commented on #24
I started working on this in a local branch, but it really needs #38 first.  @drphilmarshall how's that going?  (Thanks!)

[2016-12-09 19:50] drphilmarshall commented on #24
Just merged! I made a couple of comments but I think you already know what
it woudl be good to do later (ie come up with an algotithm for choosing the
quantpoints).

On Fri, Dec 9, 2016 at 11:27 AM, Alex Malz <notifications@github.com> wrote:

[2016-12-09 19:54] aimalz commented on #35
Just commenting to document that we want to develop a better way to choose quantile spacing.  Let's leave this issue open for this purpose.

[2016-12-09 20:16] drphilmarshall commented on #35
Good good. Feel free to punt it to the post-launch DESC Note milestone.

On Fri, Dec 9, 2016 at 11:54 AM, Alex Malz <notifications@github.com> wrote:

[2016-12-09 22:12] aimalz commented on #1
How are we doing on today's launch deadline?  I'm not sure what we need to do to execute a launch.  Is the basic goal to make it PyPI/pip installable?  (Is it even ready for that?)

[2016-12-09 22:47] drphilmarshall commented on #8
In fact, let's re-issue the PDF Note creation for later - the html pages linked from the API docs are good enough I think. Renaming and closing!

[2016-12-09 22:48] #8 closed, assigned to drphilmarshall

[2016-12-09 22:49] drphilmarshall commented on #24
Since the histogram representation was extracted from the `truth` directly and not via samples, this issue can be postponed to post-launch.

[2016-12-09 22:50] drphilmarshall commented on #35
OK, I made a milestone for this analysis (and other enhancements): [Mock Photo-z Test](https://github.com/aimalz/qp/milestone/2)

[2016-12-09 22:57] #26 closed, assigned to aimalz

[2016-12-09 23:02] drphilmarshall opened #39 "Start LSST DESC Note"
Let's start an [LSST DESC Note]() writing up the `qp` code and some interesting tests, from the comprehensive suite in #36.  Since LSST DESC Notes can be IPython notebooks it should be easy to make code development and testing EQUAL to LSST DESC Note production :-) This issue can be closed once we have run `start_paper` and scrubbed the `ipynb` template of all guideline text.

[2016-12-09 23:04] drphilmarshall commented on #3
Punting to the future - but this is important, we should not neglect it.

[2016-12-09 23:07] drphilmarshall commented on #1
This issue can be closed, because I punted #24 to the future. The only remaining issue in the milestone is the KLD notebook, #34 - once you have done that, there's no more development to be done and you can make a "release". Call it "v0.1" and "beta"  or something - "beta" implies its ready for others to use, and I think it is! :-) Just make sure that the version number in `setup.py` matches whate

[2016-12-09 23:07] #1 closed, assigned to aimalz

[2016-12-09 23:07] drphilmarshall commented on #1
PS. Here's the milestone: https://github.com/aimalz/qp/milestone/1

[2016-12-10 16:34] drphilmarshall opened #40 "Make first "Release""
@aimalz Once you have closed #34 by merging #37 you should make our first "release", here:

https://github.com/aimalz/qp/releases

I'd suggest "v0.1 beta" as a reasonable name - and you can edit the release text once you have made it. Probably this should be a "pre-release" as well - we can save the "release" name for v1.0, after we've done an investigation of the quantile idea. What do you think?

[2016-12-12 16:35] #34 closed, assigned to aimalz

[2016-12-12 16:44] aimalz commented on #40
Done!

[2016-12-12 16:44] #40 closed, assigned to aimalz

[2016-12-12 19:40] drphilmarshall opened #41 "KLD notebook completion"
Hey @aimalz - Looks like there could be some inconsistencies in [the KLD notebook](http://htmlpreview.github.io/?https://github.com/aimalz/qp/blob/html/kld.html), between the precision and tension parts, and then the math and the plots.

Some suggestions:

* Go back and clean up the precision derivation to make it much more concise, but double check the steps to make sure the formula is correct. T

[2016-12-15 19:15] aimalz commented on #41
Excellent points!  I've modified the notebook over on https://github.com/aimalz/qp/tree/issue/41/kld.  I'm not sure I sufficiently addressed your last suggestion of some applications relevant to photo-zs.  Thoughts?

[2017-01-04 21:27] drphilmarshall commented on #41
Happy New Year, @aimalz! :-) I think the `kld` notebook is in pretty good
shape, modulo the following concerns:

* The "Precision" and "Tension" subsections have some small errors on them
- you should check that the definitions are correct and explained properly,
and that you explain clearly which limits (eg sigma >> sigm0, mu -> mu0,
etc) you are taking and why. I think the "precision" quantity s

[2017-01-18 18:31] aimalz opened #42 "Q-Q Plot"
I was thinking it might be useful to implement a quantile-quantile plot option in addition to calculating the RMS and KLD to compare `PDF` objects.

Edit: This will probably also merit another explanatory notebook like `kld.ipynb`.

[2017-01-18 22:55] drphilmarshall commented on #42
Will this help us optimize the algorithm for choosing the quantiles? I
still wonder whether regular separations could be improved upon.

[2017-01-19 15:47] aimalz commented on #42
I'm not sure if it will help with #35, but I can imagine a way to use the q-q values to choose the optimal quantile spacing.  What if we ran an optimizer over the quantiles to minimize the L1 or L2 norm between the true PDF and the quantile PDF?  A corollary to this idea is that the bin endpoints could be optimized using the q-q between the true PDF and the binned PDF, which would be guaranteed to

[2017-01-19 16:24] drphilmarshall commented on #42
Optimizing the quantiles is a great idea! Only connect, eh? :-)

You could try optimizing the MSE/L2 norm and then compare with optimizing
the KLD, and look for differences in both quality of result and
computational efficiency.

BTW I think you will want to do these tests on a large number of mock 1D
PDFs, so you can "average over an effective ensemble of photo-z datasets".
The goal is to find a

[2017-01-19 20:31] aimalz commented on #42
Indeed, #36 includes mention of nontrivial PDFs, which I envisioned being mixtures of scipy.stats.rv_continuous objects.  However, I haven't yet thought about deploying `qp` on a "survey" of mock 1D PDFs.  Perhaps that should be a separate issue.

[2017-01-19 21:03] drphilmarshall commented on #42
Yes, I think you're right - separate out the mixture of RVs capability from
the simulating a survey project notebook.

On Thu, Jan 19, 2017 at 12:31 PM, Alex Malz <notifications@github.com>
wrote:

[2017-01-20 16:32] aimalz opened #43 "Survey mode"
`qp` should be tested on surveys of PDFs in addition to its current functionality with individual PDFs.  New tests for this capability will have to be written.

- [ ] #48
- [ ] #74

[2017-02-07 23:08] aimalz opened #44 "More flexible functional forms"
`PDF` objects are currently initialized with a single `scipy.stats` `rv.continuous` object.  Linear combinations of these must be implemented next!

[2017-02-08 21:48] #24 closed, assigned to aimalz

[2017-02-15 05:36] #44 closed, assigned to aimalz

[2017-02-15 17:34] aimalz commented on #43
Also, this should include file i/o support, now #48.

[2017-02-15 17:36] aimalz opened #47 "KS test"
For the sake of completeness, I should probably implement the Kolmogorov-Smirnov test for comparing PDFs.  This will probably require another explanatory notebook like `kld.ipynb`.

[2017-02-15 17:40] aimalz opened #48 "File i/o"
In order to maximize the usefulness of #43, I'll add read/write functions to the `PDF` (and/or `survey`) objects.

[2017-03-09 17:44] janewman-pitt-edu opened #49 "Use moments as a metric"
I’d suggest prioritizing somewhat different metrics than those being looked at now: in particular, the _moments_ of the PDF are probably the most important things.  In general, those moments will determine how errors in the PDFs propagate into cosmology measurements.  There are plenty of analyses looking at the first couple of moments (corresponding to tests of bias in mean z and spread), but I wo

[2017-03-09 20:41] drphilmarshall commented on #49
Thanks Jeff - that's really interesting. Is there any particular *combination* of moments that you'd suggest, as a single scalar metric? We can look at the individual ones no problem.

[2017-03-15 02:49] janewman-pitt-edu commented on #49
I think I might have failed to respond to this email?  (I found it still in an open window).  I think you’d want to look at each moment separately and how it propagates into shifting the cosmology (Ofer Lahav has some rules of thumb on that he likes to fall back on, at least for the first moment, I think that’s published somewhere, though the impact will depend on what redshift you’re talking abou

[2017-03-17 01:30] aimalz commented on #39
Let's make this a LaTeX-style LSST-DESC Note so it can be more easily adapted into a submittable paper.

[2017-03-17 01:35] aimalz commented on #35
It seems like optimization over each chosen metric (presumably in survey mode once #43 is done) is probably the way to approach this one.

[2017-03-17 01:51] aimalz commented on #36
I propose making a model for photo-z PDFs based on a z_spec vs. z_phot plot (which seem to be standard, see Figs. 12 and 14 [here](https://arxiv.org/pdf/1008.0658.pdf) for example).  We could make a continuous version by fitting a mixture of bivariate Gaussians to the output of an actual photo-z code in this format.  Constant z_phot cuts through the plot correspond to realistic photo-z PDFs to use

[2017-03-17 02:30] aimalz opened #50 "Science metrics for photo-z PDF approximation performance assessment"
Re: conversation with @drphilmarshall today, it's time to give #36 some context.  In order to make #39 submittable to a journal, we'll need to perform an end-to-end test on a science case, and it would be appropriate for it to answer the question that inspired `qp` to be written: "What is the best way to store photo-z PDFs?"  @janewman-pitt-edu, we are thinking of the simplest scientifically relev

[2017-03-17 02:33] aimalz opened #51 "GMM fits"
In order to implement the suggestion from #36, `qp` will need the ability to perform a parametric fit to samples (particularly a Gaussian mixture model), rather than just obtaining a KDE and interpolating to convert between parametrizations.

[2017-03-17 02:34] janewman-pitt-edu commented on #50
n(z) may not be ideal as you could have small storage errors that all average to zero and leave n(z) untouched.  You thus may want to focus more on applications where individual object p(z)'s matter.  Examples include cluster finding, intrinsic alignment mitigation in weak lensing, and strong lensing analyses.  Of course Phil is an expert on the latter...

[2017-03-17 14:45] drphilmarshall commented on #50
I think the strong lensing environment requirements will be similar to those of cosmic shear, and  be (more or less) that the n(z) comes out accurately. One cheap alternative to checking the hierarchical inference of n(z) is to use the "stacked p(z)" approximation, just to quantify how n(z) estimation accuracy depends on p(z) approximation.

I like the idea of checking some alternatives to n(z) on

[2017-03-17 14:56] drphilmarshall commented on #51
Good idea to keep in mind wanting to do a more general parametric fit in future, but for now, how about we focus on getting `qp` PDF objects to fit themselves with GMMs, with an `Ncomponent=5` kwarg? We'll need this to make mock data based on an existing zs-zp dataset.

[2017-03-17 14:58] drphilmarshall commented on #39
OK! We can close this once we have run the cookiecutter and put in section headings with very rough, very terse notes on what needs to go in each section.

[2017-03-17 15:57] drphilmarshall commented on #50
Reports from Slack:

* David Alonso @damonge says:

This is for the simplest analysis scenario we're envisaging right now, but other options might need individual p(z)'s."

* Michael Troxel @matroxel suggested we look at the mean inverse lensing sigma_crit, between pairs of redshift bins (and pointed to the test code he is using in DES [here](https://github.com/matroxel/destest/blob/master/src/pz.

[2017-03-17 16:12] drphilmarshall opened #52 "Background text on baseline LSST DM plan"
The LSST DM "Data Products Definition" document, [LSE-163](https://docushare.lsstcorp.org/docushare/dsweb/Get/LSE-163), has the following to say about photo-z storage:

So, a good baseline assumption is that we have 100 parameters per object to play with. Using fewer parameters would reduce the storage costs somewhat, and presumably speed up the computations too (although that would need investiga

[2017-03-17 22:07] drphilmarshall commented on #36
Sounds good. Can you get a reasonable LSST ugrizy zp-zs scatter plot
forecast dataset from the LSST DESC PZ WG? I'm sure @sschmidt23 has one
lying around just next to his right elbow :-)

[2017-03-17 23:10] drphilmarshall opened #53 "LSST SRD photo-z metrics"
Here's what the [LSST Science Requirements Document](https://docushare.lsstcorp.org/docushare/dsweb/Get/LPM-17/LSSTSRD_v5%202%203.pdf) has to say (in section 2.1) about photometric redshifts:

So, we should somehow see that rms precision and low outlier rate in the simulated dataset the PZ WG provide. I guess the main thing for us is to quantify the additional rms error and bias introduced by usin

[2017-03-17 23:12] drphilmarshall opened #54 "Epic: LSST DESC Note on Photo-z P(z) Approximations"
Let's use this issue thread to oversee this project! We can close it when we submit the paper (and we can re-title the thread if the Note becomes a journal article). To see all the issues associated with this _epic_, click [here](https://github.com/aimalz/qp/issues?q=is%3Aissue+is%3Aopen+label%3A%22Epic%3A+Photo-z+Approximation+Paper%22). There will be a at least two milestones: circulate for feed

[2017-03-17 23:46] aimalz commented on #43
Also, there should be a demo notebook!

[2017-03-17 23:50] aimalz commented on #53
We can do this via moments (i.e. the difference between the first moment and the spectroscopic redshift).

[2017-03-18 00:20] aimalz opened #55 "Mock catalog construction"
* 10^5 galaxies with z_p, sigma_p, z_s
* follow the [XDGMM demo](https://github.com/tholoien/XDGMM/blob/master/Notebooks/Demo.ipynb) to make 2D GMM, using BIC to choose Ng (might need to provide some nominal sigma_s as well)
* draw samples from 2D GMM to check that it looks like the input data
* condition on each z_s to make the "true" PDFs (each one is also an Ng-component GMM)
* export via #48 i

[2017-03-18 00:22] aimalz opened #56 "Make the approximate PDFs"
* After #55 is closed. . .
* read in PDFs via #48
* via #43 produce a catalog of these PDFs in each parametrization (bins, quantiles, samples, mixture model via #51), (possibly using multiprocessing, which would be a new issue)
* export to file via #48

[2017-03-18 00:24] aimalz opened #57 "Metric analysis"
* read in parametrized catalogs via #56
* loop over N_metrics, N_floats, N_parametrizations
* plot the results

[2017-03-18 03:36] janewman-pitt-edu commented on #50
For strong lensing, I thought you'd be interested in basically making a foreground mass map, which would require p(mass, z) for each potential foreground object?

For galaxies science I think there are few applications that would ever need very high precision, I'd look towards cosmology instead.

[2017-03-19 22:19] drphilmarshall commented on #39
Looks like [`main.tex` in the `issue/39/start_paper` branch](https://github.com/aimalz/qp/blob/issue/39/start_paper/docs/desc-0000-qp-photo-z_approximation/main.tex) is pretty close to satisfying this issue. We talked about focusing on an LSST dataset from Sam rather than SDSS, but otherwise the section headings look sensible. Start the PR and request a review whenever you're ready, @aimalz ! :-)

[2017-03-20 15:10] drphilmarshall commented on #50
Good, that was our sense too. For strong lensing, it's true that for a 3D
mass reconstruction we're interested in P(M*,z) or P(L,z), to get more
information on the halo masses - but the 2D problem is beyond the scope of
this paper! I think we'll learn something useful from thinking about 1D
P(z) approximation for WL and LSS, and then next time around see what'd be
different in the 2D case.

[2017-03-21 19:39] #39 closed, assigned to aimalz

[2017-03-21 21:51] aimalz opened #60 "Gridded approximation"
`qp` should be able to ingest PDFs in the format of a function evaluated at points on a grid, as it can samples, bin values, quantiles, and parametric "truth" functions.

[2017-03-21 21:54] aimalz commented on #55
Let's revise this plan now that we have mock data in the form of gridded photo-z PDFs from @MelissaGraham:

* read in the gridded photo-z PDFs via #60
* convert them to the GMM format via #51
* save them via #48

Then, we can address #56!

[2017-03-21 22:11] drphilmarshall commented on #55
Bonza. Let's think about whether we can skip the GMM step, even, and treat
a 349-point grid as being finely enough sampled to be treated as "perfect"

[2017-03-21 22:21] aimalz commented on #55
Unfortunately, the `qp.PDF.quantize()` function currently only works if there is a parametric `qp.PDF.truth` object to start from.  I suppose I could (and maybe should) change that, but I think it would be easier and no less principled to prep the data differently -- it's just a choice about whether this conversion happens within `qp` or as part of preparing the inputs.

[2017-03-21 22:31] drphilmarshall commented on #55
OK, cool. Maybe give it a try fitting a GMM then, and see how we go.
Looking fwd to seeing the demo notebook!

[2017-03-23 18:16] aimalz commented on #55
Oops, I forgot something important from the plan above!  Step zero needs to be to address #43.  So there are four issues standing between us and a notebook properly processing the data. . .

[2017-03-23 21:23] aimalz commented on #43
For completeness, I'm noting that I started this issue planning to more or less copy the code I wrote [here](https://github.com/aimalz/chippr/blob/master/chippr/catalog.py) for CHIPPR (with a vague intention to eventually have CHIPPR rely on qp for that functionality), but I'm now rethinking how I might want a `catalog` object to be used (or really, how someone else might want to interact with one

[2017-03-24 15:13] drphilmarshall opened #62 "Upgrade .travis.yml to make and deploy Note PDF"
Currently our [.travis.yml](https://github.com/aimalz/qp/blob/master/.travis.yml) file does not contain instructions to build and deploy our DESC Note - we need to copy and edit the relevant lines from the `.travis.yml` file that `start_paper` provided into the main travis file. Also, I notice that two of thedeployment conditions have been commented out: we should uncomment those, we only want the

[2017-03-24 15:17] drphilmarshall commented on #60
Comprehensively closed by #61 :-) Now to put it into action on the BPZ posteriors, Alex!

[2017-03-24 15:17] #60 closed, assigned to aimalz

[2017-03-24 15:20] drphilmarshall commented on #55
Actually if I were you I'd start a notebook to do _one_ GMM approximation, of one of the BPZ p(z)'s, and then think about catalog functionality. It's usually best to _jump on the data_ because it will inspire you in ways you haven't foreseen. To put it another way, you'll think better about how you want to implement catalogs _after_ you have started working with the catalog data. Do #51 before #43

[2017-03-27 17:48] aimalz commented on #62
I've been fiddling with the .travis.yml and am stuck on a bug in the compilation of the LaTeX that doesn't happen locally.  I've spent a lot of time on this without figuring it out so think it's time to ask for help.  Sorry to bother you with this!

[2017-03-27 17:51] aimalz opened #64 "Data exploration notebook"
This needs its own branch, so it merits its own issue.

[2017-03-27 18:43] drphilmarshall commented on #62
No worries, Ill take a look. You shoudl get on with the data exploration
notebook!

On Mon, Mar 27, 2017 at 10:48 AM, Alex Malz <notifications@github.com>
wrote:

[2017-03-28 14:26] aimalz opened #65 "Expand format conversion options"
Currently the quantile and histogram approximations can only be made from a parametric truth.  It would be easy to support creation of quantile and histogram approximations from samples.

Also, there is currently no support for sampling the gridded approximation (an oversight on my part), which will be fixed as part of resolving this issue.

These features will be necessary for #64 to be useful, u

[2017-03-29 15:44] #51 closed, assigned to aimalz

[2017-04-01 00:30] sschmidt23 commented on #36
Sorry, I forgot to answer this.  As a place to start, I'll give you both point photo-z's and full p(z)'s for a set of 111k galaxies from the photo-z DC1 Buzzard dataset that I created with a run of BPZ.  This is probably not a dataset that you'll want to use as the final dataset (I say that because the QQ plots that I made for redshift slices seemed to show some biases in the p(z)'s that BPZ predi

[2017-04-01 01:37] drphilmarshall commented on #36
Thanks Sam, this is *great* :-) While you were pulling this together, we
got put in touch with Melissa Graham, who gave us a similar but smaller,
and private, dataset, from her own work for the Project: it's nice to work
on that because she'll be able to relate our results directly to her own.
However, a bigger, public sample with different properties from you is most
welcome - we'll check it out

[2017-04-04 16:13] morriscb opened #68 "Code is not currently python3 compatible."
Code fails on import when using python3.

Suggest adding

    from __future__ import absolute_import, division, print_function

to the top of all python files to break the current code and fix the issues that arise. This should result in code that is cross compatible with python2 and python3.

[2017-04-04 16:42] aimalz commented on #64
In making this notebook, I've discovered a "bug" in that the data we've been given is not normalized.  I think I need to know more about how it was made, but for now I'm implementing a kludge to normalize all parametrizations before plotting them.

[2017-04-04 19:57] drphilmarshall commented on #64
Good plan. All PDF's must integrate to one!

On Tue, Apr 4, 2017 at 12:42 PM, Alex Malz <notifications@github.com> wrote:

[2017-04-04 21:03] aimalz commented on #64
One thing we never implemented in pdf.py is integration of each parametrization, so we can't normalize them within qp.  I don't think this is necessarily a problem, but I'll write a disclaimer into the documentation saying users are responsible for making sure inputs integrate to unity.

[2017-04-04 21:07] aimalz commented on #64
Also, the current holdup with this issue is that the mixture models fit to the samples from the real gridded data break the CDF/PPF functions.  I'm investigating where the problem is. . .

[2017-04-04 21:12] drphilmarshall commented on #64
Some parametrizations are already normalized or normalizable, though,
right? If you can rejection sample then the PDF must be normalized! :-)

Re: mixture model bug: happy hunting! :-)

[2017-04-07 18:10] #36 closed, assigned to nobody

[2017-04-10 18:20] aimalz commented on #64
I ran your analysis function for different numbers of parameters in each parametrization and got this cool result.  Check it out!  (-:
![money](https://cloud.githubusercontent.com/assets/8606810/24876046/2cd76f38-1df8-11e7-8603-3a653e462c66.png)
So it looks like with more than about 30 numbers for KLD and 100 for RMSE, it doesn't matter what parametrization you use.  But the KLD indicates samples

[2017-04-11 00:42] drphilmarshall commented on #64
Nice! Not sure what to make of the disagreements between KLD and RMSE,
other than to note that they motivate our switching to science-based
metrics (like ability to predict n(z)). I'd be interested to see how well
n(z) can be estimated by concatenating the samples and then histogramming
them, rather than stacking the KDEs. Want to have a go at that?

On Mon, Apr 10, 2017 at 11:20 AM, Alex Malz <no

[2017-04-11 19:19] aimalz commented on #64
Yep, here's the result:
![summary](https://cloud.githubusercontent.com/assets/8606810/24926501/c8073868-1ec9-11e7-9bcb-c7c73f304be8.png)
The high variability makes me think we're suffering from small number statistics here.
But, when I inspect the n(z) for each parametrization, it's clear that there's a bug:
![nz_comparison](https://cloud.githubusercontent.com/assets/8606810/24926541/f8c2689c-1ec9

[2017-04-11 20:02] aimalz opened #72 "Normalize all approximations"
In response to #64, it's going to be necessary to enforce normalization conditions for all approximations, to keep outliers from dominating the summary statistics.

[2017-04-11 20:09] aimalz commented on #64
I think both issues (at N_floats=3 an N_floats=30) are being caused by not enforcing normalization for interpolations.  I made #72 and will fix that in a branch off of `issue/64/data_exploration_notebook`.  Stay tuned for a pull request!

[2017-04-11 23:28] drphilmarshall commented on #72
I'm not surprised. Let's just do it.

On Tue, Apr 11, 2017 at 1:02 PM, Alex Malz <notifications@github.com> wrote:

[2017-04-11 23:30] drphilmarshall commented on #64
Good. Those look like useful diagnostic plots to remake. Good luck!

On Tue, Apr 11, 2017 at 1:09 PM, Alex Malz <notifications@github.com> wrote:

[2017-04-12 21:49] drphilmarshall commented on #57
Let's make a new notebook, `data_analysis` and use the `Ensemble` class to analyze all of Melissa's PDFs.

[2017-04-17 16:00] aimalz commented on #72
Closed by #73

[2017-04-17 16:00] #72 closed, assigned to aimalz

[2017-06-06 16:15] #64 closed, assigned to aimalz

[2017-06-06 16:51] aimalz commented on #43
I'm going to revive this to make it easier to write a script using the infrastructure of #70.  My intention is for this script to run the n(z) metrics on increasing numbers of galaxies to establish a scaling relation in resource requirements.  Sound good, @drphilmarshall?

[2017-06-06 17:04] drphilmarshall commented on #43
Sounds good!

[2017-07-01 00:18] aimalz commented on #55
I think this is no longer a priority in light of the two sources of realistic photo-z PDFs, so I'm closing this issue.

[2017-07-01 00:18] #55 closed, assigned to aimalz

[2017-07-01 00:23] aimalz commented on #56
I'm closing this for the same reason as #55.

[2017-07-01 00:23] #56 closed, assigned to aimalz

[2017-07-03 19:48] aimalz opened #74 "Parallelization"
#43 will benefit from parallelizing the handling of individual `qp.PDF` objects, and it shouldn't be hard to implement.

[2017-07-20 20:17] aimalz commented on #57
I'm going to use this issue to group together issues for specific metrics, namely #47, #49, and #42.  As `qp` will be the backend for the [LSST-DESC PZ DC1 paper](https://github.com/LSSTDESC/PZDC1paper), it will need to have the following metrics implemented in the `qp.Ensemble` class:
- [x] RMSE (#9)
- [x] KLD (#9)
- [ ] KS/AD/CvM (#47)
- [ ] QQ (#42)
(Is the plan still to do all of these @sschmi

[2017-07-21 23:35] #74 closed, assigned to aimalz

[2017-07-21 23:41] aimalz commented on #50
@drphilmarshall Are we still thinking of including metrics on Sigma_crit^-1?  I think it's nontrivial to calculate without point estimators of redshift and don't want to muddy the waters with straying too many layers beyond the PDFs -- wouldn't this involve calculating metrics on quantities derived from point estimators derived from PDFs?

[2017-07-23 22:14] drphilmarshall commented on #50
To include metrics on Sigma_crit^-1 we'd need to understand what this is
(one number per lens bin - source bin pair? a weighted integral over the
two n(z)'s?) and how it enters into the cosmological parameter inference. I
could then imagine defining a set of Sigma_crit^-1 parameters whose
posterior PDF given the photo-z data needs to be sampled, and then looking
at summary statistics of that PDF (

[2017-07-27 21:03] aimalz opened #77 "qp.PDF.integrate() function"
The integrator function of the `qp.PDF` class has been blank for a long time and is necessary for the QQ plots for the [LSST-DESC PZ DC1 paper](https://github.com/LSSTDESC/PZDC1paper/issues/4).  Now is the time to implement it!

[2017-07-27 21:16] aimalz opened #78 "Extrapolation options for qp.PDF interpolator"
As noted [here](https://github.com/LSSTDESC/PZDC1paper/issues/3), the `qp.PDF.interpolator`'s default setting returns NaN for samples if the min or max value has multiple entries.  @sschmidt23 says:

[2017-07-27 21:58] aimalz opened #79 "Epic: Polishing for response to referee report"
I'm collecting things I really need to fix before a proper code release.

- [ ] ~~make it easy for users to add formats by making a parametrization class (like `scipy.stats.rv_continuous`, etc.), with consistent syntax for conversions to replace the `using` keyword, opens the door for implementing SparsePZ, FlexZBoost formats~~ punting this to a later code release
- [x] eliminate `qp.PDF.truth` in

[2017-07-28 00:20] #77 closed, assigned to aimalz

[2017-07-28 01:56] #43 closed, assigned to aimalz

[2017-07-28 17:49] aimalz commented on #48
I'd planned for #75 to partially address this but ended up skirting it entirely.  This is still necessary for the at-scale test and will likely involve significant refactoring of #43.

[2017-07-28 18:27] aimalz commented on #65
For the sake of #79, I'm reopening this issue.  Copying from #67, the following conversions must be implemented before closing this issue:
- [ ]     gridded --> quantiles
- [ ]     samples --> quantiles
- [ ]     histogram --> quantiles
- [ ]     gridded --> histogram
- [ ]     samples --> histogram
- [ ]     quantiles --> histogram
- [ ]     quantiles --> mixture model
- [ ]     histogram --> mix

[2017-08-03 20:15] #78 closed, assigned to aimalz

[2017-08-08 22:55] aimalz commented on #57
Update: I'm pretty happy with the status of [`issue/57/analysis`](https://github.com/aimalz/qp/tree/issue/57/analysis) and will run something like [the analysis notebook](https://github.com/aimalz/qp/blob/issue/57/analysis/docs/desc-0000-qp-photo-z_approximation/research/analysis.ipynb) on NERSC as soon as it's back on line.

[2017-08-09 23:12] aimalz commented on #3
In light of [inconsistencies](https://github.com/LSSTDESC/PZDC1paper/issues/4) in the implementation of irregular data, I'm reviving this issue.  I need to rigorously screen for those before an official code release!

[2017-08-10 17:11] aimalz opened #83 "Bug in quantile interpolation"
There's a bug in the reconstruction of the PDF from quantiles that's causing them to blow up at the endpoints.  I'm going to change the interpolation function for quantiles to require endpoints at which the CDF is 0 and 1 so it doesn't cause nonsensical linear interpolation.  This will require changing the syntax for `qp.PDF.quantize()`.  I'm going to use this opportunity to make the syntax more c

[2017-08-12 22:02] aimalz commented on #83
The bug is resolved and merged into [the paper branch](https://github.com/aimalz/qp/blob/issue/54/paper) via two tricks.  The first trick was to choose endpoints such that linear interpolation still satisfied the definition of the quantiles (duh).  The second trick was to start the optimizer with a good guess of where the quantiles were by evaluating the CDF and finding the closest places to the d

[2017-08-12 22:02] #83 closed, assigned to aimalz

[2017-08-13 17:40] drphilmarshall commented on #83
Excellent - nice work! Looking fwd to seeing the plots - good luck, and
have fun!

[2017-08-15 01:26] aimalz commented on #83
This fix doesn't exactly deserve praise.  Though it guarantees a solid solution for the quantiles, it still has issues.  For example, it broke the nosetests because it takes too long on perverse cases where the first guess of the quantiles is terrible.

[2017-08-17 20:43] aimalz commented on #48
This was satisfactorily implemented in scripts and not in `qp` itself, so this issue is closed.

[2017-08-17 20:43] #48 closed, assigned to aimalz

[2017-08-17 20:44] #57 closed, assigned to aimalz

[2017-08-17 20:45] aimalz commented on #50
I'm closing this along with #57 now that #54 is done.

[2017-08-17 20:45] #50 closed, assigned to aimalz

[2017-08-22 22:42] aimalz commented on #49
This is now implemented in the `master` branch, so I'm closing the issue.

[2017-08-22 22:44] #49 closed, assigned to nobody

[2017-08-22 23:07] aimalz opened #86 "Paper revisions"
I'm making an issue for the paper revisions in response to DESC feedback to correspond to a new branch.  I'll use this space to note major changes.

[2017-09-06 21:15] sschmidt23 opened #87 "Extrapolation of probability may break normalization"
The update to fill_value and extrapolation in the initialization of using='gridded' pdfs (that I believe was added because the default is 'NaN' outside the range of support I raised in an earlier issue) may cause problems in the normalization of the PDF if that range that you are normalizing extends beyond the grid points.  The line in question in qp.pdf.approximate:
 self.interpolator = spi.inter

[2017-09-06 21:53] aimalz commented on #87
I've been focusing on improving quantile and sample interpolation for the past couple weeks (sloppily in [this dev branch](https://github.com/aimalz/qp/tree/issue/86/desc_revision)) while totally neglecting this problem with grid interpolation.  Thanks for catching it!  Your fix is now in the dev branch, and I'll try to get it into the master branch this week.

[2017-10-04 14:50] aimalz commented on #65
Just leaving a comment to bump this up the list of recently updated issues, as there has been an explicit request for the samples --> quantiles conversion to be implemented (and it's one of the most straightforward of the ones on the list).  Thanks @sschmidt23 for bringing it up!  I will address this before version 1.0 is released, so after submitting the paper to AJ but before it gets through the

[2017-10-10 13:56] aimalz opened #88 "Better handling of samples"
Currently, `qp` treats all parametrizations the same in calculating metrics (and stacking) by forcing evaluations on a grid, which doesn't always make sense, particularly for samples.  At the very least, there should be more options for user control of that process, and ideally, there should be a way around it by calculating metrics from the native format without an extra approximation.  (This wou

[2017-10-19 17:53] andersdot opened #89 "Need pathos installed"
Setup.py should require pathos

[2017-10-19 18:14] andersdot commented on #89
Also hickle

[2017-10-26 21:06] #89 closed, assigned to nobody

[2017-11-12 23:39] aimalz commented on #53
I think this is outside the scope of qp itself and can be implemented in one of the PZ WG scripts that calls qp, so I'm closing the issue.

[2017-11-12 23:39] #53 closed, assigned to nobody

[2017-11-12 23:40] aimalz commented on #41
I think this was addressed a while back but we forgot to close the issue.

[2017-11-12 23:40] #41 closed, assigned to aimalz

[2017-11-13 07:30] #52 closed, assigned to nobody

[2017-11-13 07:30] #86 closed, assigned to aimalz

[2017-11-13 07:31] #87 closed, assigned to nobody

[2018-03-25 22:11] aimalz commented on #79
This has been partially addressed by #93.  Stay tuned for more soon!

[2018-03-26 15:09] aimalz opened #94 "Epic: Major refactoring"
~~In the interest of time, I'm splitting #79.  What I can't do in time for an immediate code release to coincide with the paper, I will address in a future version.~~

The time for reach goals is now!  I'm migrating content from #79 now that the paper is all done.  Here's what I want to do next:

- [ ] make it easy for users to add formats by making a parametrization class (like `scipy.stats.rv_co

[2018-05-25 08:42] johannct opened #95 "Rethink qp.PDF.limits"
https://github.com/aimalz/qp/blob/7a43a8ffc2298e9714be68e268f15e64856ab877/qp/pdf.py#L89

As limits attribute is provided on top of the grid tuple, I would expect that it means that limits *takes over* precedence over the grid boundaries. so the lower bound should be the max(grid.min, limits[0]) and the upper bound should be min(grid.max, limits[1])

[2018-05-31 20:35] aimalz commented on #54
I think this can safely be closed now!

[2018-05-31 20:35] #54 closed, assigned to nobody

[2018-05-31 20:45] aimalz commented on #79
I'm closing this issue and moving over to #94 for future development with broader goals.

[2018-05-31 20:45] #79 closed, assigned to aimalz

[2018-05-31 20:47] aimalz commented on #95
The code is written as I originally intended (it's not a "bug" in the sense of an accident), but I think you're right that it probably shouldn't be that way (not being a bug doesn't make it not a mistake).  I did think the notion of PDF-wide "limits" was problematic so circumvented it in the upcoming refactored version.  I'll leave this issue open as a reminder, though I'm going to rename it for t

[2022-03-30 15:38] villrv opened #98 "make an autoencoder representation"